<div class='message-container'>
<% flash.each do |key, value| %>
  <p class="<%= key %>"><%= value %></p>
<% end %>
</div>

<%= render @post %>

<div class="post-actions">
  <div class ='top-link'>
  <%= link_to "Edit Post", edit_post_path(@post), class:'link' %> |
  <%= link_to "Home", posts_path, class:'link'%>
  </div>
  <%= button_to "Delete", @post, method: :delete, class:'delete-btn' %>
</div>

<div class="comment-form">
    <h2 class= 'notes'>Leave a comment</h2>
    <%= render 'comments/form', post: @post, comment: @comment, class:'form' %>
</div>

<div class="comments-section">
  <h2><%= @post.comments.count %> Comment/s:</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <h4 class="comment-name"><%= comment.name %></h4>
      <p class="comment-body"><%= comment.body %></p>
      <div class='bottom-row'>
        <%= button_to link_to "Edit", edit_post_comment_path(@post, comment) , class: 'edit-comment' %>  |
        <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, class: 'delete-comment', data: { confirm: 'Are you sure?'}  %>
      </div>
    </div>
  <% end %>
</div>